<header>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="col-md-3 col-sm-3">
        <span>Left Text</span>
      </div>
      <div class="col-md-6 col-sm-6">
        <span>Center Text</span>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <span>Top Text</span>
          </div>
          <div class="col-md-12 col-sm-12">
            <span>Bottom Text</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-sm-12">
    <hr>
  </div>
</header>