// Place all the styles related to the mcmap controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
#html_form_table {
  div > input[type="text"] {
    width: 100%;
  }
  border: 1px solid #ccc;
  padding: 1em;
}

#modal_body_hospital_data div.button-group {
  margin-bottom: 3em;
}

.mcmap.hospital_detail {
  > div.row {
    margin-top: 1em;
    div.col-md-1.col-sm-2 {
      margin-left: 1em;
    }
  }
  .light-blue-bg {
    background-color: #a3c8ed;
  }
  .blue-bg {
    background-color: #40608D;
  }
  .one-word-per-line {
    word-break: break-all;
    color: white;
    font-weight: bold;
    width: 30px;
  }
  .font-weight-bold {
    font-weight: bold;
  }
  table.table-bordered td {
    border: 2px solid #769cc1;
  }
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}